.wrapper {
  position: relative;
  height: 180px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: 100.5%;
  letter-spacing: 1.16px;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 180px;
  background-color: #FFFFFF;
  background-image: linear-gradient(90deg, #F4E93A 10%, #d32861 100%);
  filter: blur(150px);
  -webkit-filter: blur(150px);
  will-change: transform;
}