.info-card {
  position: relative;
  animation: show-description 300ms ease alternate;
}

.info-card p {
  margin-bottom: 1rem;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #454d59;
  border-radius: 0.5rem;
}

.link:hover {
  background-color: #c778dd;
}

@keyframes show-description {
  from {
    opacity: 0;
    top: 200px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@media screen and (max-width: 764px) {
  .info-card p {
    font-size: 1rem;
  }

  .link {
    font-size: 1rem;
  }
}