.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 12rem 10% 20rem 10%;
  scroll-margin-block-start: 200px;
}

.hero {
  font-size: 2rem;
  color: white;
}

.name {
  color: var(--primary-color);
}

.description {
  color: white;
  font-size: 1.5rem;
  max-width: 800px;
}

.description p {
  margin-bottom: 1rem;
}

.description p:last-child {
  margin-bottom: 0;
}

.socials-wrapper {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.social-link {
  color: var(--primary-color);
}

.social-link:hover {
  color: white;
}

@media screen and (max-width: 764px) {
  .hero-wrapper {
    margin-bottom: 10rem;
  }

  .hero {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1.2rem;
  }
}