.navigation {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 6rem;
  width: 100%;
}

.set-background {
  background-color: var(--background-color-transparent);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color-transparent);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  animation: slide-down 300ms ease-in-out;
  box-shadow:
    0px 1.5px 1.8px rgba(0, 0, 0, 0.065),
    0px 3.7px 4.3px rgba(0, 0, 0, 0.093),
    0px 7px 8px rgba(0, 0, 0, 0.115),
    0px 12.5px 14.3px rgba(0, 0, 0, 0.137),
    0px 23.4px 26.7px rgba(0, 0, 0, 0.165),
    0px 56px 64px rgba(0, 0, 0, 0.23);
}

.title-link {
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  z-index: 50;
}

.title .bolt {
  color: var(--primary-color);
  margin-right: 8px;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  z-index: 10;
}

.links>li,
.links a {
  z-index: 10;
}

.menu-btn {
  display: none;
}

.file-icon {
  color: white;
  margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 1.5rem;
  }

  .menu-btn {
    display: block;
    color: var(--primary-color);
    z-index: 50;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: -600px;
    left: 0;
    z-index: 30;
    width: 100%;
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    box-shadow:
      0px 1.5px 1.8px rgba(0, 0, 0, 0.065),
      0px 3.7px 4.3px rgba(0, 0, 0, 0.093),
      0px 7px 8px rgba(0, 0, 0, 0.115),
      0px 12.5px 14.3px rgba(0, 0, 0, 0.137),
      0px 23.4px 26.7px rgba(0, 0, 0, 0.165),
      0px 56px 64px rgba(0, 0, 0, 0.23);
  }

  .sticky:has(.links.open) {
    box-shadow: none;
  }

  .links.open::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .links.open {
    animation: slide-out 300ms forwards;
  }

  .links.close {
    animation: slide-in 300ms backwards;
  }

  @keyframes slide-out {
    from {
      top: -600px;
      opacity: 0;
    }

    to {
      top: 86px;
      opacity: 1;
    }
  }

  @keyframes slide-in {
    from {
      top: 86px;
      opacity: 1;
    }

    to {
      top: -600px;
      opacity: 0;
    }
  }
}

@media screen and (max-width: 872px) {
  .navigation {
    padding: 1.2rem 2rem;
  }
}

@keyframes slide-down {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}