:root {
  --primary-color: #c778dd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul ,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: #282c33;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset
}